body {
  background-color: rgb(0, 0, 0);
  color: white;
}

.top {
  text-align: center;
  padding: 50px 0 20px 0;
}

span {
  text-align: center;
  font-size: 250%;
  font-family: "Cafe24Ohsquare";
}
.mid1{
  text-align: center;
  font-weight: 600;
}

.mid2{
  text-align: center;
  font-family: "Cafe24Oneprettynight";
  line-height: 40px;
  font-weight: bold;
  font-size: 20px;
}
.btn_div {
  margin: 0 auto;
  padding: 20px 10px;
  text-align: center;
}

.btn {
  font-weight: bold;
  text-decoration: none;
  font-family: "HY강B";
  text-indent: 0;
  line-height: 30px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  color: rgb(0, 255, 132);
  width: 150px;
  height: 25px;
  padding: 7px 0 10px 0;
  background-color: rgba(0, 38, 20, 0.923);
  border-color: rgb(0, 255, 132);
  border-width: 1px;
  border-style: solid;
  /* background-color: rgba(255, 158, 234, 0.425); */
}

.btn:hover {
  background: rgba(2, 195, 53, 0.843);
  color: rgb(255, 255, 255);
  border-color: rgba(2, 195, 53, 0.843);
}




@media (max-width: 900px) {
  span {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: "Cafe24Ohsquare";
  }
  .mid1{
    font-size: 15px;
  }
  .mid2{
    font-size: 17px;
  }
}

